body {
  background-image: url(https://picsum.photos/1300/640/?random);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#weather {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: 40%;
  margin-bottom: 2%; 
}

.iconLarge {
  font-size: 300%;
}

i {
  color: #17a2b8;
}

@media (max-width: 768px) {
  body {
    background-image: url(https://picsum.photos/768/640/?random);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #center {
    width: 100%;
  }

  #weather {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 80%;
    margin-bottom: 2% 0 2% 0; 
  }
}

