body {
  background-image: url(https://picsum.photos/1300/640/?random);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#weather {
  background-color: rgba(255, 255, 255, 0.5)
}
